$navbar-color:  #343d78;
$navbar-text:   #dbf0d0;
$navbar-height: 56px;

.normal {
  padding-top: $navbar-height;

  header {
    nav.navbar {
      background-color: $navbar-color;

      .navbar-brand {
        color: $navbar-text;
      }

      .nav-link {
        color: $navbar-text;
      }
    }
  }

  footer {
    .site-info {
      padding-top:    20px;
      padding-bottom: 10px;
    }
  }
}